<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4">

    <display-name>appserver.io REST API</display-name>
    <description>Webapp that provides the appserver.io API</description>

    <servlet>
        <description><![CDATA[Returns the VHost configuration data]]></description>
        <display-name>VhostServlet</display-name>
        <servlet-name>VhostServlet</servlet-name>
        <servlet-class>\TechDivision\ApplicationServerApi\Servlets\VhostServlet</servlet-class>
    </servlet>
    
    <servlet>
        <description><![CDATA[Returns the container configuration data]]></description>
        <display-name>ContainerServlet</display-name>
        <servlet-name>ContainerServlet</servlet-name>
        <servlet-class>\TechDivision\ApplicationServerApi\Servlets\ContainerServlet</servlet-class>
    </servlet>
    
    <servlet>
        <description><![CDATA[Returns the application configuration data]]></description>
        <display-name>ApplicationServlet</display-name>
        <servlet-name>ApplicationServlet</servlet-name>
        <servlet-class>\TechDivision\ApplicationServerApi\Servlets\ApplicationServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>VhostServlet</servlet-name>
        <url-pattern>/vhosts*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>VhostServlet</servlet-name>
        <url-pattern>/vhosts</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ContainerServlet</servlet-name>
        <url-pattern>/containers*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ContainerServlet</servlet-name>
        <url-pattern>/containers</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ApplicationServlet</servlet-name>
        <url-pattern>/apps*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ApplicationServlet</servlet-name>
        <url-pattern>/apps</url-pattern>
    </servlet-mapping>

</web-app>